{% extends 'layouts/header.html' %} 
{% load static %}
{% block title %}Sign in{% endblock %}

{% block extra_css %}
  {% if page_css %}
    <link rel="stylesheet" href="{% static page_css %}">
  {% endif %}
{% endblock %}

{% block content %}

    <main>
      <form action="post">
        <label for="username_email">Username / email : </label>
        <input type="text" name="username_email" id="username_email" placeholder="example@domine.ext / username"/>

        <label for="password">Password : </label>
        <input type="password" name="password" id="password" placeholder="secure password"/>

        <p>if you don't have an account,<a href="/sign-up/"> sign up here</a></li></p>
        <input type="submit" value="log in" />
      </form>
    </main>
{% endblock %}