{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />

    {% block extra_css %} 
      {% if page_css %}
        <link rel="stylesheet" href="{% static page_css %}" />
      {% endif %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <section>
          <ul>
            <li><a href="/" class="{% if request.path == '/' %}active{% endif %}" >Home</a></li>
            <li><a href="/about/" class="{% if request.path == '/about' %}active{% endif %}" >About</a></li>
            <li><a href="/calendar/" class="{% if request.path == '/calendar' %}active{% endif %}" >calendar</a></li>
            <li><a href="/schedule/" class="{% if request.path == '/schedule' %}active{% endif %}">schedule</a></li>
          </ul>
        </section>
        <section>
          <ul>
            {% if active %}
              <li><a href="/profile/" class="{% if request.path == '/profile' %}active{% endif %}" >profile</a></li>
              <li><a href="/log-out/" class="{% if request.path == '/log-out' %}active{% endif %}" >log-out</a></li>
            {% else %}
              <li><a href="/sign-in/" class="{% if request.path == '/sign-in' %}active{% endif %}" >Sign in</a></li>
              <li><a href="/sign-up/" class="{% if request.path == '/sign-up' %}active{% endif %}" >Sign up</a></li>
            {% endif %}
          </ul>
        </section>
      </nav>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
