{% extends 'layouts/header.html' %} 
{% load static %}
{% block title %}Index{% endblock %}

{% block extra_css %}
  {% if page_css %}
      <link rel="stylesheet" href="{% static page_css %}">
  {% endif %}
{% endblock %}

{% block content %}
<main>
  <h1>Welcome to SchedulePy</h1>
  <p>here you can take note of interesting stuffs, important, activities, something that you need remember, projects and much more. </p>
  <h2>what can you do here??</h2>
  <p>if you have a project you can look this</p>
  <img src="images/schedule_example.png" alt="pre view of schedule"/>
</main>
{% endblock %}
